<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>estudiante_registrar</display-name>
    <servlet-name>estudiante_registrar</servlet-name>
    <servlet-class>servlet.estudiante_registrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>estudiante_registrar</servlet-name>
    <url-pattern>/estudiante_registrar</url-pattern>
  </servlet-mapping>
  <display-name>SAcademico</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>estudiante_actualizar</display-name>
    <servlet-name>estudiante_actualizar</servlet-name>
    <servlet-class>servlet.estudiante_actualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>estudiante_actualizar</servlet-name>
    <url-pattern>/estudiante_actualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrar_comentario</display-name>
    <servlet-name>registrar_comentario</servlet-name>
    <servlet-class>servlet.registrar_comentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrar_comentario</servlet-name>
    <url-pattern>/registrar_comentario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>estudiantes_eliminar</display-name>
    <servlet-name>estudiantes_eliminar</servlet-name>
    <servlet-class>servlet.estudiantes_eliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>estudiantes_eliminar</servlet-name>
    <url-pattern>/estudiantes_eliminar</url-pattern>
  </servlet-mapping>
</web-app>